@-webkit-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  55%  { opacity: 1; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  55%  { opacity: 1; }
  100% { opacity: 1; }
}
@-o-keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  55%  { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes blink {
  0%   { opacity: 0; }
  50%  { opacity: 0; }
  55%  { opacity: 1; }
  100% { opacity: 1; }
}

.terminal-cursor {
    padding: 2px 4px;
    background: #bbb;
    -webkit-animation: blink 1s infinite; /* Safari 4+ */
    -moz-animation:    blink 1s infinite; /* Fx 5+ */
    -o-animation:      blink 1s infinite; /* Opera 12+ */
    animation:         blink 1s infinite; /* IE 10+, Fx 29+ */
}

.terminal-line {
  word-wrap: break-word;
}