.terminal-frame {
    width: 100%;
    height: 100%;
}

.terminal-frame > tbody{
    >.topcol{
        .image{
            height: inherit;
        }
    }

    >.middlecol{
        height: 100%;
        td{
            height: inherit;
        }
    }

    >.bottomcol{
        
    }

    >.terminalcol > td{
        vertical-align: top
    }

    .horizontalcol{
        >.image{
            
        }
    }

    .verticalcol{
        >.image{
            height: inherit;
        }
    }
}