@import "responsive";

.terminal-space{
    position: absolute;
    
    /*background: red;
    opacity: 0.5;*/
    left: 7%;
    right: 7%;

    top: 75px;
    bottom: 80px;

    overflow: scroll;

    @include height-space(short) { 
        top: 85px;
        bottom: 90px;
    }

    @include height-space(medium) { 
        top: 85px;
        bottom: 90px;
    }
}